<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add delivery</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel='stylesheet' href='/css/bootstrap.min.css' type='text/css'
	media='all'>
</head>
<body align="center">
	<h2>Add delivery</h2>
	<div style="margin: 20px 380px 10px 380px;">
		<form th:object="${delivery}" th:action="@{~/save/delivery}"
			action="#" method="post" class="mb-3">
			<div class="form-group">
				<label for="deliveryNumber" class="form-label">Title</label> <input
					type="text" id="deliveryNumber" th:field="*{deliveryNumber}"
					class="form-control" />
			</div>
			<div class="form-group">
				<label for="date" class="form-label">Date</label> <input type="text"
					id="date" th:field="*{date}" class="form-control" />
			</div>
			<div class="form-group">
				<label for="time" class="form-label">Time</label> <input type="text"
					id="time" th:field="*{time}" class="form-control" />
			</div>
			<div class="form-group">
				<label for="status"><input type="hidden" id="status"
					th:field="*{status}" readonly="readonly" class="form-control" /></label>
			</div>
			<input type="submit" class="btn btn-primary" value="Save"></input>
		</form>
	</div>
</body>
</html>