<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<title>main</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body align="center">
	<div style="margin: 100px 300px 10px 300px">
	<h1>Main page</h1><br><br>
	<div class="btn-group-lg">
	<a href="/productlist" class="btn btn-info">Products</a>
	<a href="/deliverylist" class="btn btn-info">Deliveries</a>
	</div>
	</div>
</body>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
</html>