<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit delivery</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel='stylesheet' href='/css/bootstrap.min.css' type='text/css'
	media='all'>
</head>
<body align="center">
	<h2>Edit delivery</h2>
	<div style="margin: 20px 300px 10px 300px;">
		<form th:object="${delivery}" th:action="@{~/save/delivery}"
			action="#" method="post" class="mb-3">
			<div class="form-group">
				<label for="deliveryid" class="form-label"></label> <input
					type="hidden" id="deliveryid" th:field="*{deliveryid}"
					readonly="readonly" class="form-control" />
			</div>
			<div class="form-group">
				<label for="deliveryNumber" class="form-label">Title</label> <input
					type="text" id="deliveryNumber" th:field="*{deliveryNumber}"
					class="form-control" />
			</div>
			<div class="form-group">
				<label for="date" class="form-label">Date</label> <input type="text"
					id="date" th:field="*{date}" class="form-control" />
			</div>
			<div class="form-group">
				<label for="time" class="form-label">Time</label> <input type="text"
					id="time" th:field="*{time}" class="form-control" />
			</div>
			<div class="form-group">
				<label for="basket" class="form-label">Basket</label> <input type="text"
					id="basket" th:field="*{basket}" class="form-control" />
			</div>
			<div class="form-group">
				<label for="status">Status</label> <select id="status"
					th:field="*{status}" class="form-control">
					<option value="Unfulfilled">Unfulfilled</option>
					<option value="Fulfilled">Fulfilled</option>
					<option value="Delivered">Delivered</option>
				</select>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Save"></input>
			</div>
		</form>
		<a href="/deliverylist" class="btn btn-link">Return</a>
	</div>
</body>
</html>