<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Productlist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel='stylesheet' href='/css/bootstrap.min.css' type='text/css'
	media='all'>
</head>
<body style="margin: 30px 190px 10px 190px;">
	<h1>Products</h1>
	<table class="table table-striped">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Weight(per unit)</th>
			<th>Quantity</th>
			<th>Cost</th>
			<th>Category</th>
			<th></th>
		</tr>
		<tr th:each="product : ${products}">
			<td th:text="${product.productNumber}"></td>
			<td th:text="${product.productName}"></td>
			<td th:text="${product.weight}"></td>
			<td th:text="${product.quantity}"></td>
			<td th:text="${product.cost}"></td>
			<td th:text="${product.category.name}"></td>
			<td sec:authorize="hasAuthority('ADMIN')">
				<div class="btn-group-sm">
					<a th:href="@{/delete/product/{id}(id=${product.id})}"
						class="btn btn-danger btn-sm">Delete</a> <a
						th:href="@{/edit/product/{id}(id=${product.id})}"
						class="btn btn-success btn-sm">Edit</a>
				</div>
			</td>
		</tr>
	</table>
	<div class="btn-group-sm">
		<a href="/" class="btn btn-link">Main page</a> <a sec:authorize="hasAuthority('ADMIN')" href="/add/product"
			class="btn btn-success">Add Product</a>
	</div>
</body>
</html>